* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(95, 87, 110);
}

.container {
    display: flex;
    max-width: 850;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    padding: 30px;
    max-width: 225px;
    background-color: #fff;
    padding: 8;
    margin: 12px auto;
    border-radius: 10px;
}

.card > p {
    display: block;
    width: 120;
}